.automatifuncdingbodycontainer {
  padding: 25px;
}
.main_box_style {
}

.autotitle {
  white-space-collapse: collapse;
  text-wrap: nowrap;
  height: 22px;
  width: 135px;
  margin-bottom: 20px;
  margin-top: 10px;
}
