.headercontainer {
  background-image: linear-gradient(#1b3a5e, #1170b2);
  padding: 15px 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.headerleft {
  color: white;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  padding-left: 25px;
  margin: auto 0;
  text-shadow: 1px 1px 2px black;
}
.fa-square-caret-right {
  margin-right: 10px;
}
.fa-info-circle {
  color: #5d86c9;
  font-size: 13px;
}
.headerrirhg {
  width: 250px;
  background-color: #81d34a;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  color: #ffffff;
}
