:root {
  --lightGrey: #fefefe;
  --white: #f3f3f3;
  --bgColor: #f6f8fa;
  --lightBlue: #1173b7;
  --halfBlue: rgba(14, 91, 152, 1);
  --darkBlue: rgba(27, 58, 94, 1);
  --darkBlue2: rgba(27, 58, 94, 0.7);
  --greyBlue: #527196;
  --lightGreen: #81d34a;
  --darkGreen: #62a535;
  --black: #505050;
  --Purple: #c778c5;
  --red: #fc7c7c;
  --darkRed: #f65151;
  --orange: #ffa500;
  --yellow: #fdef7b;
  --Grey: #bebebe;
}

.maingebostpbackcontainerbody {
  padding: 30px;
}
.main_box_styless {
    margin: 8px 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
    font-size: 12px;
    max-width: 1050px;
    min-height: 85vh;
    padding:20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.postback_table {
    width: 100%;
    padding-left: 20px;
  }
  
  .bdv_table_style {
    cellspacing: 0;
  }
  
  .note {
    color: red;
  }
  
  .postback_url {
    position: relative;
  }
  
  .btn-copy {
    visibility: hidden;
    cursor: pointer;
    padding-left: 5px;
  }
  
  .postback_url:hover .btn-copy {
    visibility: visible;
  }