:root {
  --lightGrey: #fefefe;
  --white: #f3f3f3;
  --bgColor: #f6f8fa;
  --lightBlue: #1173b7;
  --halfBlue: rgba(14, 91, 152, 1);
  --darkBlue: rgba(27, 58, 94, 1);
  --darkBlue2: rgba(27, 58, 94, 0.7);
  --greyBlue: #527196;
  --lightGreen: #81d34a;
  --darkGreen: #62a535;
  --black: #505050;
  --Purple: #c778c5;
  --red: #fc7c7c;
  --darkRed: #f65151;
  --orange: #ffa500;
  --yellow: #fdef7b;
  --Grey: #bebebe;
}
.mangedevicesbodcontaineer {
  padding: 25px;
}

.mangedeviescontainertable {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  -webkit-border-horizontal-spacing: 1px;
  -webkit-border-vertical-spacing: 1px;
  width: 100%;
  background-color: rgb(206, 216, 226);
}

