:root {
  --lightGrey: #fefefe;
  --white: #f3f3f3;
  --bgColor: #f6f8fa;
  --lightBlue: #1173b7;
  --halfBlue: rgba(14, 91, 152, 1);
  --darkBlue: rgba(27, 58, 94, 1);
  --darkBlue2: rgba(27, 58, 94, 0.7);
  --greyBlue: #527196;
  --lightGreen: #81d34a;
  --darkGreen: #62a535;
  --black: #505050;
  --Purple: #c778c5;
  --red: #fc7c7c;
  --darkRed: #f65151;
  --orange: #ffa500;
  --yellow: #fdef7b;
  --Grey: #bebebe;
}

.publisherbodycontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.publisherbodycontainer > button,.desibutton {
  margin-left: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  background-position: 0 0;
  background-color: var(--lightGreen);
  border: 1px solid var(--lightGreen);
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  padding: 3px 12px;
  min-height: 30px;
  min-width: 100px;
}
.delsidelete{
    margin-left: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    background-position: 0 0;
    background-color: crimson;
    border: 1px solid var(--lightGreen);
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    padding: 3px 12px;
    min-height: 30px;
    min-width: 100px; 
}