.rTable {
  display: table;
}
.rTableRow {
  display: table-row;
  vertical-align: top;
}
.rTableHeading {
  display: table-header-group;
}
.rTableBody {
  display: table-row-group;
}
.rTableFoot {
  display: table-footer-group;
}
.rTableCell,
.rTableHead {
  display: table-cell;
  padding: 3px 10px;
  border: 0px solid #999999;
  vertical-align: top;
}
.colspan3 {
  display: block;
}
.formRight select {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 10px #e8e8e8 inset;
  height: 30px;
  margin: 0 0 0 15px;
  padding: 5px;
  width: 300px;
}

.form-control-feedback {
  padding: 11px;
  width: 12px;
  height: 12px;
}
.selectbackgroud {
  -moz-appearance: none;
  background-position: right center;
  background-image: url("../images/select_FF.png");
  background-repeat: no-repeat;
  min-width: 150px;
}